.container__subjects {
    padding: 5rem;
}

.container__subjects h6 {
    font-size: 2.5rem;
}

.container__subjects .image-wrapper img {
    width: 100%;
}

.container__subjects .note_info h5 {
    font-size: 1.75rem;

}

.container__subjects .note_info p {
    font-size: 1.125rem;
    line-height: 1.725rem;
    margin: 2rem 0;

}