:root {
  --color-primary: #0D2F5F;
  --color-primary-dark: #071830;
  --color-primary-light: #35527A;

  --color-primary-blue: #1A69AF;
  --color-secondary: #0D2F5F;
  --color-secondary-dark: #071830;
  --color-secondary-light: #35527A;
  --color-accent: #FFD700;
  --color-primary-accent: #5800E5;
  --color-secondary-accent: #0D5F55;
  --color-secondary-green: #34C759;
  --color-tertiary-accent: #5F0D2F;
  --color-text-white: #ffffff;
  --color-bg-ash: #5E7494;
  --color-ash: #AEBACA;
  --color-ash-secondary: #F1F1F1;
  --color-dash: #D8E6FE;
  --color-faint-ash: #ECF2FE;
  --color-text-dark: #000000;
  --color-text-red: #ff0000;
  /*
    #AEBACA */


  --box-shadow: 0 2px 8px -4px #000000;
  --font-family-body: "Quicksand", sans-serif;
  --font-family-heading: "Montserrat", sans-serif;

}


* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-blue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}


#sidebarMenu .nav-item .navbar-brand img {
  width: 5rem;
  margin-bottom: 1rem;
}


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 1rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #000000;
  margin-top: 1rem;
}

.sidebar .nav-link i {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: var(--color-text-white);
  background-color: var(--color-primary-blue);
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
}

.sidebar .nav-link:hover i,
.sidebar .nav-link.active i {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
* Navbar
*/

.navbar {
  padding: 1rem 1.125rem;
  background: var(--color-primary-blue);
}



.sidebarMenu .navbar-brand {
  background-color: #000000;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
  color: var(--color-faint-ash);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  border: 1px solid var(--color-primary);
  margin: 0.5rem auto;
}

.form-control-dark:focus {
  box-shadow: 0 0 0 3px #ffffff40;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  position: relative !important;
}

.top_icon {
  padding: 0.4rem 0.6rem;
  background-color: var(--color-faint-ash);
  border-radius: 50%;

}

.navbar-nav .nav-item {
  align-items: center;
  gap: 1rem;
}


.navbar-nav .nav-item i {
  background-color: var(--color-ash);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
}


.navbar .profile {
  /* width: 1rem; */
  /* overflow: none; */
  border: 1px solid var(--color-text-white);
  padding: 0.3rem 0.3rem;
  padding-right: 0.8rem;
  border-radius: 4rem;
}

.navbar .profile img {
  width: 2rem;
  overflow: none;
  border: 1px solid var(--color-text-white);
  border-radius: 50%;
}


/* Target only the chevron of the profile dropdown */
.nav-link.dropdown-toggle.profile::after {
  border-top: 0.3em solid white !important;
  /* Arrow color */
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}


.dropdown-toggle.profile {
  border: 1px solid var(--color-faint-ash);
}

.dropdown-menu {
  width: 5rem !important;
  position: absolute !important;
  left: -6rem !important;
}



/* DASHBOARD CSS */

main {
  background-color: var(--color-ash-secondary);
}

/* Greeting Section  */

.greeting__containter .row.greet__user {
  background-color: var(--color-primary-blue);
  border-radius: 1.5rem;
  color: var(--color-text-white);
}

.greeting__containter .row.greet__user {
  background-image: url('../images/admin/greeting-pattern.png');
  border-radius: 1.5rem;
  color: var(--color-text-white);
}


.greeting__containter .row .greetings {
  padding: 2rem;

}


.greeting__containter .row .greeting-text {
  font-size: 1.1rem;
}

.greeting__containter .row .greeting-img {
  text-align: center;
}

.greeting__containter .row .greeting-img img {
  margin: 0 auto;
  width: 15rem;
}

.upgrade-btn {
  background-color: var(--color-secondary-green);
  color: var(--color-text-white);
  padding: 0.8rem 2rem;
}

.upgrade-btn:hover {
  background-color: var(--color-secondary-accent);
  color: var(--color-text-white);
}

.notifiication__containter {
  border-left: 4px solid var(--color-primary-blue);
  border-radius: 0.2rem;
  padding: 2rem;
}

.subscription {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.subscription i {
  font-size: 1.5rem;
}

.subscription p {
  margin: 0;
}



#adminChart {
  height: 50px;
  /* background: red; */

}


.image_wrap {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-ash);
  overflow: hidden;
  padding: 0.1rem;
}

.image_wrap img {
  width: 100%;
  height: 100%;
}

.new-users {
  text-align: left !important;
  padding: 0 1rem;
}

.new-users h5 {
  font-size: 0.8rem;
  margin: 0;
  text-align: left;
}

.new-users p {
  text-align: left;
  margin: 0;

}

.new-users i {
  font-size: 0.7rem;
}

.new-users span {
  font-size: 0.6rem;
  line-height: 1rem;
}

.new-users .status {
  padding: 0.5rem;
  line-height: 1rem;
  text-align: center;
}


/* TOP COURSES SECTION  */
.top-courses__containter .top {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.courses {
  padding: 1rem;
}

.courses .image_wrapper {
  background-color: var(--color-dash);
  text-align: center;
  padding: 1rem;

}

.course-img {
  width: 6rem;
  height: 5rem;
  /* text-align: center; */
  margin: 0 auto;
}

.courses-tag {
  background-color: var(--color-primary-blue);
  border-radius: 1rem;
  padding: 0.1rem 0.6rem;
  color: var(--color-text-white);
  text-align: center;
  font-size: 0.6rem;
  display: inline;
}

.courses .card-body {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  width: 100%;
}

.courses .buton {
  margin: 0.4rem auto;
  /* width: 70%; */
  text-align: center;
  border: 1px solid var(--color-primary-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}


.history__container .row {
  /* gap: 1rem */
  justify-content: space-between;
  margin-bottom: 1rem;
}

.subjects_history,
.subscription_history {
  padding: 0.5rem;
  border-radius: 0.1rem;
  height: 25rem;
  overflow-y: scroll;
}


.subscription_history.update {
  height: auto;
  overflow: auto;
}

.subjects_history .top,
.subscription_history .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.subjects_history .top a,
.subscription_history .top a {
  text-decoration: none;
}

.subscription_history table {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.subscription_history table h6 {
  font-size: 0.8rem;
}

.subscription_history table tr th:last-child {
  text-align: center;
}

.subscription_history table tr th {
  background-color: var(--color-dash);
  padding: 0.5rem;
}

.table-responsive table .status {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 0.4rem;
  background-color: #DCFCE7;
  color: #16A34A;
  padding: 0.1rem 0.4rem;
  border-radius: 0.8rem;
  /* width: 90%; */
  font-size: 0.8rem;
}


.subscription_history table .status {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 0.4rem;
  background-color: #DCFCE7;
  color: #16A34A;
  padding: 0.06rem 0.1rem;
  border-radius: 0.8rem;
  width: 30%;
}



.table-responsive table .status.exp {
  background-color: #fccbc8;
  color: #FD645B;
}

.subscription_history table .status.exp {
  background-color: #fccbc8;
  color: #FD645B;
}

.table-responsive table .status i,
.subscription_history table .status i {
  font-size: 0.4rem;
}

.subjects_history .subject {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--color-ash);
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  padding: 1rem 0.5rem;
}

.subjects_history .subject i {
  background-color: var(--color-dash);
  padding: 0.75rem 0.6rem;
  border-radius: 50%;
  font-size: 1.1rem;
  color: var(--color-primary-blue);
}


.footer__container {
  border-top: 1px solid var(--color-ash);
  margin-top: 3rem;
  text-align: center;
}

.footer__container .row {
  font-size: 0.8rem;
  padding: 0.5rem 0;
  justify-content: space-between;
}

.footer__container a {
  text-decoration: none;
  color: var(--color-bg-ash);
}

.footer__container a:hover {
  text-decoration: none;
  color: var(--color-primary-blue);
}

/* @media (max-width: 767.98px) {
} */







.profile__container {
  margin-top: 3rem;
  /* padding:; */
}

.profile__container .row {
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile__container .profile_data {
  padding: 0.5rem;
  border-radius: 0.1rem;
}

.profile__container .profile_data .top {
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-ash);
  margin-bottom: 1.2rem;
}

.profile__container form input {
  padding: 0.6rem 1rem;
}

.profile__container form button {
  padding: 0.6rem 1rem;
  width: 100%;
  background-color: var(--color-primary-blue);
}


.profile__container .profile {
  /* padding: 2rem; */
  padding-top: 0;
  text-align: center;

}

.profile__container .profile .image_wrapper {
  border-radius: 1rem;
  overflow: hidden;
  width: 16rem;
  height: 14rem;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid var(--color-ash);
}

.profile__container .profile .image_wrapper .profile_image {
  width: 100%;
  height: 100%;
}

.profile__container .profile button {
  margin: 0.6rem auto;
  padding: 0.8rem 1rem;
  background-color: var(--color-ash);
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.profile__container .profile a {
  text-decoration: none;
  color: var(--color-text-red);
  font-weight: 600;
}





/* Subscription Details page  */
.sub_detail__container {
  margin-top: 4rem;
}

.sub_detail__container .row {
  margin-bottom: 2rem;
  background-color: var(--color-primary-blue);
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 1rem;
  color: var(--color-text-white);
}

.sub_detail__container .subscription_details {
  padding: 0.5rem;
  border-radius: 0.1rem;
}

.subscription_details table {
  width: 100%;
}

.subscription_details table tr td {
  padding-bottom: 2rem;
}

.subscription_details table a {
  color: var(--color-text-white);
  text-decoration: none;
  font-size: 700;
}

.checkoutsummary__container {
  margin-top: 2rem;
}

.checkoutsummary__container .checkout__summary table {
  width: 100%;
}

.checkoutsummary__container .checkout__summary table tr td {
  line-height: 2.5rem;
}

.checkoutsummary__container .checkout__summary table tr td:last-child {
  text-align: end;
}


.checkoutsummary__container .checkout__summary .payment-logos {
  width: 30%;
  border: 1px solid var(--color-ash);
  padding: 0.6rem 0;
  padding-right: 0.6rem;
  text-align: center;
}

.checkout__summary input[type="text"] {
  padding: 0.8rem;
  color: var(--color-primary-blue) !important;
}

.checkout__summary input[type="text"]:focus {
  outline: none !important;
}

.checkout__summary .btn-submit {
  background-color: var(--color-primary-blue);
  padding: 0.8rem;
  color: var(--color-text-white);
}

.checkout__summary .btn-submit:hover {
  background-color: var(--color-secondary-dark);
  padding: 0.8rem;
  color: var(--color-text-white);
}



/* ADMIN CSS  */



.table-responsive {
  position: relative;
  z-index: 99;
  /* height: 95vh; */
}


.action .more-options {
  list-style: none;
  background: var(--color-ash);
  width: 100px;
  border-radius: 0.8rem;
  padding: 0.5rem;
  display: none;
  position: absolute;
  /* left:rem; */
  z-index: 99999999;
}

.more-options>li>button,
.more-options>li>a {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0.5rem;
  background: none;
}

.action:hover .more-options {
  display: block;
}


/* examcard */
.examcard {
  width: 17rem !important;
  margin: auto;
  height: 20rem;
}






@media screen and (min-width: 768px) {

  .sidebar {
    padding: 1rem;

  }

  .form-control-dark {
    width: 30%;
  }

  .greeting__containter .row .greetings {
    padding: 1rem;
    padding-bottom: 0rem;

  }

  .greeting__containter .row .greeting-text {
    margin-bottom: 1rem;
  }

  .greeting__containter .row .greeting-img img {
    width: 14rem;
  }

  .subjects_history,
  .subscription_history {
    padding: 1.5rem;
    border-radius: 0.1rem;
  }

  .footer__container {
    text-align: left;
  }

  .footer__container .row {
    padding: 1rem;
  }




}

@media screen and (min-width: 1024px) {

  /* .greeting__containter .row .greeting-text {
    margin-bottom: 2rem;
  } */
  .greeting__containter .row .greetings {
    padding: 2.5rem;

  }

  .greeting__containter .row .greeting-img img {
    width: 21rem;
  }

  .calculationBox {
    width: 32% !important;
    height: 10rem !important;
    padding: 1rem;
    border-radius: 0.8rem;
  }

  .chart-wrapper {
    text-align: center;
    width: 32%;
    /* margin-left:20px; */
    height: 25rem;
    border-radius: 10px;
  }


  .admin-chart-container {
    width: 100%;
    height: 95%;
    position: relative;
    margin: auto;
    margin-top: 10px;
    /* margin: 10px; */
    /* max-width: 600px; */
    /* padding: 1rem; */
  }

  .chart-container {
    width: 100%;
    height: 62%;
    position: relative;
    margin: auto;
    margin-top: 10px;
    /* margin: 10px; */
    /* max-width: 600px; */
    /* padding: 1rem; */
  }

  .chart-center-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #444;
    font-weight: 600;
    pointer-events: none;
  }


  /* .chart-containers {
        position: relative;
        width: 370px;
        height: 150px;
        margin: auto;
    } */



  .visitor-stats {
    display: flex;
    justify-content: space-around;
  }

  .visitor-stats div {
    text-align: center;
  }

  .visitor-stats .count {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1f2b3a;
    line-height: 0.8rem;
    font-family: var(--font-family-body);
  }

  .visitor-stats .label {
    font-size: 0.8rem;
    color: #666;
    font-family: var(--font-family-body);
  }


  .custom-legend {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .chartjs-legend {
    display: none !important;
  }

  .legend-item {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #555;
  }

  .legend-color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 2px;
  }

  .transaction-stats {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 20px;
  }

  .transaction-stats div {
    text-align: center;
  }

  .transaction-stats .count {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1f2b3a;
    line-height: 0.8rem;
    font-family: var(--font-family-body);
  }

  .transaction-stats .label {
    font-size: 0.8rem;
    color: #666;
    font-family: var(--font-family-body);
  }

  .subjects_history,
  .subscription_history {
    padding: 2rem;
    border-radius: 0.1rem;
  }

  .profile__container .row {
    flex-direction: row;
  }

}

@media screen and (min-width: 1250px) {
  .examcard {
    width: 20rem !important;
  }
}


@media screen and (min-width: 1440px) {
  .examcard {
    width: 24rem !important;
  }
}